@using WebAPIDiff.Domain.Entities
@model IEnumerable<Diff>

@{
    ViewBag.Title = "Diffs";
}

<h2>List of base64 encoded data pairs</h2>

<table id="diff-list" class="table table-condensed table-bordered">
  <tbody>
  @foreach (var p in Model)
  {
    <tr>
      <td class="text-right">
        <b>Id :</b>
      </td>
      <td class="text-left">
        @p.DiffId.ToString()
      </td>
    </tr>

    <tr>
      <td class="text-right">
        <label>Left :</label>
      </td>
      <td class="text-left">
        @p.LeftData
      </td>
    </tr>

    <tr>
      <td class="text-right">
        <label>Right :</label>
      </td>
      <td class="text-left">
        @p.RightData
      </td>
    </tr>
    <tr>
      <td class="text-right">
      </td>
      <td class="text-left">
      </td>
    </tr>
  }
  </tbody>
</table>


